Repository autobrr/qui, pull requests merged in 2025-09, with the labels that each got.

#140 refactor(web): simplify theme licensing UX and hook names
  web/src/components/themes/ThemeLicenseManager.tsx
  web/src/components/themes/ThemeValidator.tsx
  web/src/hooks/useThemeLicense.ts
  web/src/lib/theme-license-errors.ts
  web/src/pages/Settings.tsx
Labels: web, refactor

#128 feat(http): implement dynamic compression
  go.mod
  go.sum
  internal/api/router.go
Labels: enhancement, performance

#139 refactor(db): remove instance health checks and add error tracking system
  cmd/qui/main.go
  internal/api/handlers/instances.go
  internal/api/handlers/torrents.go
  internal/database/db_test.go
  internal/database/migrations/001_initial_schema.sql
  internal/database/migrations/005_add_instance_errors.sql
  internal/models/instance.go
  internal/models/instance_error.go
  internal/qbittorrent/metrics.go
  internal/qbittorrent/pool.go
  internal/qbittorrent/pool_test.go
  internal/qbittorrent/sync_manager.go
  web/src/components/instances/InstanceCard.tsx
  web/src/components/instances/InstanceErrorDisplay.tsx
  web/src/pages/Dashboard.tsx
  web/src/types/index.ts
Labels: web, backend, database:migrations, database

#142 feat(web): better category edit dialog
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TagCategoryManagement.tsx
  web/src/lib/api.ts
  web/src/types/index.ts
Labels: enhancement, web, torrent

#145 feat(web): add free swizzin theme
  web/src/assets/swizzin.png
  web/src/components/layout/Header.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/SwizzinLogo.tsx
  web/src/themes/swizzin.css
Labels: web, themes

#150 chore(ci): update setup-go action to v6 in workflows
  .github/workflows/format.yml
  .github/workflows/release.yml
Labels: ci

#134 refactor(web): extract context menu and remove redundant TorrentActions
  web/src/components/torrents/TorrentActions.tsx
  web/src/components/torrents/TorrentContextMenu.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
Labels: web, refactor

#163 fix(qbittorrent): sort queued torrents
  internal/qbittorrent/sync_manager.go
Labels: bugfix

#174 feat(web): add NotFound page
  web/src/pages/NotFound.tsx
  web/src/routes/__root.tsx
Labels: enhancement, web

#194 fix(auth): improve login form UX and add session warming
  internal/api/handlers/auth.go
  internal/api/router.go
  web/src/hooks/useAuth.ts
  web/src/pages/Login.tsx
  web/src/pages/Setup.tsx
Labels: enhancement, web, auth

#201 feat(torrents): add shift-click row selection
  web/src/components/torrents/TorrentTableOptimized.tsx
Labels: enhancement, web, torrent

#206 feat(web,search): add escape key to clear and blur search
  web/src/components/layout/Header.tsx
Labels: enhancement, web, torrent

#211 fix(web): keep row click from toggling selection
  web/src/components/torrents/TorrentTableOptimized.tsx
Labels: bug, web

#213 perf(torrents): smooth sidebar during pagination
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/useTorrentsList.ts
  web/src/pages/Torrents.tsx
Labels: web, bugfix, torrent, performance

#218 fix(web): clear stale torrents on empty state
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/useTorrentsList.ts
Labels: web, bugfix, torrent

#219 fix(web): raise mobile scroll button
  web/src/components/torrents/TorrentCardsMobile.tsx
Labels: web

#202 refactor(license): activate and validate
  Dockerfile
  Makefile
  ci.Dockerfile
  cmd/qui/main.go
  go.mod
  go.sum
  internal/api/handlers/health.go
  internal/api/handlers/licenses.go
  internal/api/handlers/theme_licenses.go
  internal/api/middleware/auth.go
  internal/api/middleware/chi.go
  internal/api/middleware/logger.go
  internal/api/router.go
  internal/api/server.go
  internal/api/server_test.go
  internal/buildinfo/buildinfo.go
  internal/config/config.go
  internal/database/license_repo.go
  internal/database/migrations/007_rename_theme_licenses_table_to_licenses.sql
  internal/metrics/server.go
  internal/models/license.go
  internal/models/theme_license.go
  internal/polar/client.go
  internal/polar/client_test.go
  internal/services/license/checker.go
  internal/services/license/license_service.go
  internal/services/license/license_service_test.go
  internal/services/license/machineid.go
  internal/services/theme_license.go
  internal/web/handler.go
  internal/web/swagger/openapi.yaml
  web/src/components/themes/LicenseManager.tsx
  web/src/components/themes/ThemeSelector.tsx
  web/src/components/themes/ThemeValidator.tsx
  web/src/components/ui/ThemeToggle.tsx
  web/src/hooks/useLicense.ts
  web/src/lib/api.ts
  web/src/lib/license-errors.ts
  web/src/lib/polar-constants.ts
  web/src/pages/Settings.tsx
Labels: web, premium, backend, database:migrations, database, api

#171 build(deps): bump Go to 1.25
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile
  ci.Dockerfile
  go.mod
Labels: dependencies, go, build

#226 fix(server): respect baseUrl when serving web UI
  internal/api/server.go
  internal/web/handler.go
Labels: web, build

#235 fix(web): guard undefined instance error messages
  web/src/lib/utils.ts
Labels: web, bugfix

#256 refactor(client-api-keys): derive proxy instructions client-side
  internal/api/handlers/client_api_keys.go
  web/src/components/settings/ClientApiKeysManager.tsx
  web/src/lib/api.ts
Labels: web, backend, refactor, client-proxy

#249 fix(web): normalize torrent hash fallbacks
  web/src/components/torrents/TorrentContextMenu.tsx
  web/src/components/torrents/TorrentDetailsPanel.tsx
  web/src/lib/torrent-utils.ts
Labels: bug, web, torrent

#282 fix(web): remove trailing punctuation from clickable links
  web/src/components/torrents/TorrentDetailsPanel.tsx
  web/src/lib/linkUtils.tsx
Labels: enhancement, web, bugfix

#294 chore(deps): bump go-qbittorrent
  go.mod
  go.sum
Labels: dependencies

#314 fix(header): columns toggle remove blue dot
  web/src/components/torrents/TorrentTableOptimized.tsx
Labels: web

#291 refactor(web): simplify and tighten client-proxy tab
  README.md
  web/src/components/settings/ClientApiKeysManager.tsx
Labels: web, refactor, bugfix

#312 fix(web): apply user date settings to new torrent columns
  web/src/components/torrents/TorrentTableColumns.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
Labels: web, bugfix

#324 fix(torrents): preload limit dialogs with current values
  go.mod
  go.sum
  web/src/components/torrents/TorrentDialogs.tsx
  web/src/components/torrents/TorrentManagementBar.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/types/index.ts
Labels: enhancement, web, refactor, bugfix, torrent

#325 fix(web): truncate near-complete progress decimals
  web/src/components/torrents/TorrentCardsMobile.tsx
  web/src/components/torrents/TorrentTableColumns.tsx
Labels: web, bugfix, torrent

#327 fix(web): add clipboard fallback for non-HTTPS contexts
  web/src/components/settings/ClientApiKeysManager.tsx
  web/src/components/themes/LicenseManager.tsx
  web/src/components/torrents/TorrentContextMenu.tsx
  web/src/components/torrents/TorrentDetailsPanel.tsx
  web/src/lib/utils.ts
  web/src/pages/Settings.tsx
Labels: web, bugfix

#306 feat(web): scope column preferences per instance
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/usePersistedColumnOrder.ts
  web/src/hooks/usePersistedColumnSorting.ts
  web/src/hooks/usePersistedColumnVisibility.ts
Labels: enhancement, web, torrent

#243 feat(mobile): add compacted view options
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TorrentCardsMobile.tsx
  web/src/hooks/usePersistedCompactViewState.ts
  web/src/pages/Torrents.tsx
Labels: enhancement, web, mobile

#315 fix(table): size not updating when hiding columns
  web/src/components/torrents/TorrentTableOptimized.tsx
Labels: web, bugfix

#344 fix(filter): ensure tag filters require exact matches
  go.mod
  go.sum
  internal/qbittorrent/sync_manager.go
Labels: bugfix, torrent

#343 feat(torrent): add export logic
  internal/api/handlers/torrents.go
  internal/api/handlers/torrents_test.go
  internal/api/server.go
  internal/qbittorrent/sync_manager.go
  internal/web/swagger/openapi.yaml
  web/src/components/torrents/TorrentContextMenu.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/useTorrentExporter.ts
  web/src/lib/api.ts
Labels: enhancement, web, backend, torrent, api

#348 fix(torrents): correct ETA column sorting
  internal/qbittorrent/sync_manager.go
Labels: backend, bugfix, torrent
