Repository autobrr/qui, pull requests merged in 2025-10, with the labels that each got.

#353 fix(filters): keep toggleable lists in original order
  web/src/components/torrents/FilterSidebar.tsx
Labels: web, bugfix

#352 update(readme): add more reverse proxy application examples
  README.md
Labels: documentation

#316 feat(torrents): fetch tracker icons
  .gitignore
  README.md
  cmd/qui/main.go
  go.mod
  go.sum
  internal/api/handlers/tracker_icons.go
  internal/api/server.go
  internal/api/server_test.go
  internal/config/config.go
  internal/qbittorrent/sync_manager.go
  internal/services/trackericons/preload.go
  internal/services/trackericons/preload_test.go
  internal/services/trackericons/service.go
  internal/web/swagger/openapi.yaml
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TorrentCardsMobile.tsx
  web/src/components/torrents/TorrentTableColumns.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/usePersistedColumnOrder.ts
  web/src/hooks/useTrackerIcons.ts
  web/src/lib/api.ts
Labels: enhancement, web, backend, torrent

#365 fix(web): truncate instance names in MobileFooterNav
  web/src/components/layout/MobileFooterNav.tsx
Labels: web

#370 feat(trackericons): linear decode
  internal/services/trackericons/service.go
  pkg/httphelpers/response.go
Labels: enhancement, backend, tracker-icons

#371 fix(web): stabilize tracker icons in torrent table
  web/src/components/torrents/TorrentTableColumns.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
Labels: web, bugfix

#351 feat(torrents): create torrents
  go.mod
  go.sum
  internal/api/handlers/capabilities.go
  internal/api/handlers/instances.go
  internal/api/handlers/torrents.go
  internal/api/server.go
  internal/qbittorrent/client.go
  internal/qbittorrent/sync_manager.go
  internal/web/swagger/openapi.yaml
  internal/web/swagger/openapi_test.go
  web/src/components/layout/Header.tsx
  web/src/components/torrents/TorrentCardsMobile.tsx
  web/src/components/torrents/TorrentContextMenu.tsx
  web/src/components/torrents/TorrentCreationTasks.tsx
  web/src/components/torrents/TorrentCreatorDialog.tsx
  web/src/components/torrents/TorrentManagementBar.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/components/torrents/TorrentTableResponsive.tsx
  web/src/components/torrents/piece-size.ts
  web/src/components/ui/context-menu.tsx
  web/src/hooks/useTorrentsList.ts
  web/src/lib/api.ts
  web/src/lib/torrent-task-polling.ts
  web/src/pages/Torrents.tsx
  web/src/routes/_authenticated/instances.$instanceId.tsx
  web/src/types/index.ts
Labels: enhancement, web, backend, torrent, api

#376 fix(web): sync torrent creation dates to preferences
  web/src/components/torrents/TorrentCreationTasks.tsx
  web/src/hooks/useDateTimeFormatters.ts
  web/src/lib/dateTimeUtils.ts
Labels: web, bugfix, cosmetic

#359 feat(torrents): introduce Unregistered and TrackerDown
  internal/api/handlers/capabilities.go
  internal/qbittorrent/cache_test.go
  internal/qbittorrent/client.go
  internal/qbittorrent/integration_test.go
  internal/qbittorrent/sync_manager.go
  internal/qbittorrent/tracker_statuses.go
  internal/web/swagger/openapi.yaml
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TorrentCardsMobile.tsx
  web/src/components/torrents/TorrentTableColumns.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/components/torrents/TorrentTableResponsive.tsx
  web/src/hooks/useInstanceCapabilities.ts
  web/src/hooks/useTorrentsList.ts
  web/src/pages/Torrents.tsx
  web/src/types/index.ts
Labels: enhancement

#380 feat(mobile): restructure and improve layout
  web/src/components/layout/Header.tsx
  web/src/components/layout/MobileFooterNav.tsx
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TorrentCardsMobile.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/usePersistedCompactViewState.ts
Labels: enhancement, web, mobile

#384 fix(web): scope column widths per instance
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/usePersistedColumnSizing.ts
Labels: enhancement, web

#200 feat(auth): add oidc support
  README.md
  go.mod
  go.sum
  internal/api/handlers/auth.go
  internal/api/handlers/auth_setup_test.go
  internal/api/handlers/oidc.go
  internal/api/middleware/auth.go
  internal/api/middleware/cors.go
  internal/api/server.go
  internal/api/server_test.go
  internal/config/config.go
  internal/domain/config.go
  web/src/hooks/useAuth.ts
  web/src/lib/api.ts
  web/src/pages/Login.tsx
  web/src/pages/Setup.tsx
  web/src/types/index.ts
  web/vite.config.ts
Labels: enhancement, web, config, go, auth

#367 feat(torrents): column filtering
  go.mod
  go.sum
  internal/qbittorrent/filter_types.go
  internal/qbittorrent/sync_manager.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/torrents/ColumnFilterPopover.tsx
  web/src/components/torrents/DraggableTableHeader.tsx
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TorrentTableColumns.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/components/torrents/TorrentTableResponsive.tsx
  web/src/components/ui/popover.tsx
  web/src/hooks/usePersistedColumnFilters.ts
  web/src/hooks/usePersistedFilters.ts
  web/src/hooks/useTorrentsList.ts
  web/src/lib/column-constants.ts
  web/src/lib/column-filter-utils.ts
Labels: enhancement, web, backend, torrent

#391 fix(web): accept percentage values for progress filters
  web/src/lib/column-filter-utils.ts
Labels: web

#341 fix(web): client advanced settings limits
  go.mod
  go.sum
  internal/api/handlers/qbittorrent_info.go
  internal/api/server.go
  internal/models/instance_error.go
  internal/models/instance_error_test.go
  internal/web/swagger/openapi.yaml
  web/src/components/instances/preferences/AdvancedNetworkForm.tsx
  web/src/components/instances/preferences/ConnectionSettingsForm.tsx
  web/src/components/instances/preferences/QueueManagementForm.tsx
  web/src/components/instances/preferences/SpeedLimitsForm.tsx
  web/src/hooks/useQBittorrentAppInfo.ts
  web/src/lib/api.ts
  web/src/pages/Dashboard.tsx
  web/src/types/index.ts
Labels: enhancement, web, backend, refactor, bugfix, api

#399 feat(torrents): improvements to column filtering
  web/src/components/torrents/ColumnFilterPopover.tsx
  web/src/components/ui/button.tsx
  web/src/lib/column-constants.ts
  web/src/lib/column-filter-utils.ts
Labels: enhancement, web, bugfix

#397 fix(web): mobile tooltips
  web/src/App.tsx
  web/src/components/ui/tooltip.tsx
Labels: web, bugfix
