Repository autobrr/qui, pull requests merged in 2025-08, with the labels that each got.

#18 fix: resolve Docker database initialization issue on first start
  .gitignore
  internal/config/config.go
  internal/database/db.go
  internal/database/migrations/003_add_basic_auth.sql
Labels: bug

#20 feat: add collapsible filter sidebar with smooth animations
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/components/torrents/TorrentTableResponsive.tsx
  web/src/hooks/usePersistedFilterSidebarState.ts
  web/src/pages/Torrents.tsx
Labels: enhancement, web

#21 feat: add all-time statistics display across application
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/useTorrentsList.ts
  web/src/lib/utils.ts
  web/src/pages/Dashboard.tsx
  web/src/types/index.ts
Labels: enhancement, web

#22 feat: add URL masking in incognito mode for dashboard
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/pages/Dashboard.tsx
Labels: enhancement, web

#25 fix: use explicit env var binding to prevent K8s conflicts
  internal/config/config.go
Labels: bug

#24 feat(webui): performance optimizations and filter persistence fixes
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/hooks/usePersistedAccordion.ts
  web/src/hooks/usePersistedFilters.ts
  web/src/lib/utils.ts
  web/src/pages/Torrents.tsx
  web/src/types/import-meta.d.ts
  web/src/utils/themeLoader.ts
  web/vite.config.ts
Labels: bug, enhancement

#48 feat: add automated license header updates
  .github/workflows/license-update.yml
  license.sh
Labels: ci, missing-headers, automated

#33 feat: Connection error propagation and exponential backoff
  internal/api/handlers/helpers.go
  internal/api/handlers/instances.go
  internal/qbittorrent/pool.go
  internal/qbittorrent/pool_test.go
  web/src/components/instances/InstanceCard.tsx
  web/src/components/instances/InstanceForm.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/hooks/useInstances.ts
  web/src/lib/api.ts
  web/src/lib/utils.ts
  web/src/pages/Dashboard.tsx
  web/src/types/index.ts
Labels: bug, enhancement, web, backend

#53 fix(web): resolve scrolling issues in torrent details panel tabs
  web/src/components/torrents/TorrentDetailsPanel.tsx
  web/src/pages/Torrents.tsx
Labels: web

#55 feat(web): add footer attribution to sidebar
  web/src/components/layout/Sidebar.tsx
Labels: enhancement, web

#34 fix: prevent database corruption from stale schema during migrations
  internal/database/db.go
Labels: bug, backend

#40 refactor: simplify license validation by removing authentication
  .air.toml
  .github/workflows/release.yml
  .goreleaser.yml
  Dockerfile
  Makefile
  ci.Dockerfile
  cmd/server/main.go
  go.mod
  go.sum
  internal/config/config_test.go
  internal/database/db_test.go
  internal/domain/config.go
  internal/models/instance_test.go
  internal/polar/client.go
  internal/polar/client_test.go
  internal/services/theme_license.go
  web/src/App.tsx
  web/src/components/themes/ThemeSelector.tsx
  web/src/components/themes/ThemeValidator.tsx
  web/src/hooks/useThemeLicense.ts
  web/src/lib/api.ts
  web/src/utils/theme.ts
Labels: premium, refactor

#56 feat(web): replace sidebar with mobile footer navbar
  Makefile
  web/src/components/layout/Header.tsx
  web/src/components/layout/MobileFooterNav.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/torrents/TorrentCardsMobile.tsx
  web/src/contexts/MobileScrollContext.tsx
  web/src/contexts/TorrentSelectionContext.tsx
  web/src/index.css
  web/src/layouts/AppLayout.tsx
Labels: enhancement, web, mobile

#60 feat: run from `serve` subcommand
  .air.toml
  .goreleaser.yml
  CLAUDE.md
  Dockerfile
  Makefile
  README.md
  ci.Dockerfile
  cmd/qui/main.go
  internal/config/config.go
  internal/config/config_test.go
  prd_final.md
Labels: config, backend, BREAKING CHANGE, refactor

#58 fix(auth): properly set secure cookie flag based on connection type
  internal/api/handlers/auth.go
Labels: auth

#71 fix(web): instance URL overflow
  web/src/components/instances/InstanceCard.tsx
  web/src/pages/Dashboard.tsx
Labels: bug, web

#73 feat(filters): clear each filter separately
  web/src/components/torrents/FilterSidebar.tsx
Labels: web

#72 feat: pass context everywhere
  internal/api/handlers/auth.go
  internal/api/handlers/instances.go
  internal/api/middleware/auth.go
  internal/auth/service.go
  internal/database/db.go
  internal/database/db_test.go
  internal/models/api_key.go
  internal/models/instance.go
  internal/models/instance_test.go
  internal/models/user.go
  internal/qbittorrent/pool.go
  internal/qbittorrent/sync_manager.go
Labels: backend, database, refactor

#81 chore(lint): add eslint rules
  web/eslint.config.js
  web/package.json
  web/pnpm-lock.yaml
Labels: web

#83 chore(ci): use go.mod for Go version in release workflow
  .github/workflows/release.yml
Labels: ci

#84 feat(torrents): add skip hash check option when adding torrents
  web/src/components/torrents/AddTorrentDialog.tsx
  web/src/lib/api.ts
Labels: web

#80 refactor: remove unused code
  .gitignore
  Makefile
  internal/api/handlers/auth.go
  internal/api/handlers/helpers.go
  internal/api/handlers/instances.go
  internal/api/handlers/torrents.go
  internal/api/middleware/cors.go
  internal/api/router.go
  internal/api/router_test.go
  internal/config/config.go
  internal/domain/config.go
  internal/models/theme_license.go
  internal/models/user.go
  internal/polar/client.go
  internal/polar/client_test.go
  internal/qbittorrent/cache_test.go
  internal/qbittorrent/client.go
  internal/qbittorrent/integration_test.go
  internal/qbittorrent/invalidation_test.go
  internal/qbittorrent/pool.go
  internal/qbittorrent/pool_test.go
  internal/qbittorrent/sync_manager.go
  internal/web/swagger/openapi.yaml
  internal/web/swagger/openapi_test.go
  internal/web/swagger/swagger.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/torrents/TorrentActions.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/components/ui/collapsible.tsx
  web/src/components/ui/drawer.tsx
  web/src/components/ui/form.tsx
  web/src/components/ui/table.tsx
  web/src/config/themes.old.ts
  web/src/hooks/useTorrentCounts.ts
  web/src/hooks/useTorrents.ts
  web/src/hooks/useTorrentsList.ts
  web/src/hooks/useTorrentsServerSide.ts
  web/src/hooks/useTorrentsSync.ts
  web/src/lib/api.ts
  web/src/lib/torrent-state-utils.ts
  web/src/lib/utils.ts
  web/src/types/import-meta.d.ts
  web/src/types/index.ts
  web/src/utils/darkMode.ts
  web/src/utils/fontLoader.ts
  web/src/utils/pwaNativeTheme.ts
Labels: refactor

#89 feat(qbittorrent): add version-aware SetTags fallback
  go.mod
  go.sum
  internal/qbittorrent/client.go
  internal/qbittorrent/sync_manager.go
Labels: enhancement, backend

#95 feat(cli): add user management and config commands
  README.md
  cmd/qui/generate_config_test.go
  cmd/qui/main.go
  cmd/qui/user_commands_test.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/generate_test.go
Labels: enhancement, config, backend

#93 refactor(config): change default port from 8080 to 7476
  CLAUDE.md
  Dockerfile
  README.md
  ci.Dockerfile
  docker-compose.yml
  internal/config/config.go
  internal/web/swagger/openapi.yaml
  prd_final.md
  web/vite.config.ts
Labels: BREAKING CHANGE, refactor

#97 fix(auth): improve sessionSecret change handling with better UX
  internal/api/handlers/instances.go
  internal/config/config.go
  internal/qbittorrent/pool.go
  web/src/components/instances/InstanceCard.tsx
  web/src/components/ui/alert.tsx
  web/src/lib/base-url.ts
  web/src/pages/Instances.tsx
  web/src/types/index.ts
Labels: enhancement, web, config, backend

#98 refactor(web): extract error display components
  web/src/components/instances/InstanceCard.tsx
  web/src/components/instances/InstanceErrorDisplay.tsx
  web/src/components/instances/PasswordIssuesBanner.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Instances.tsx
Labels: web, refactor

#94 feat(web): allow instances without authentication credentials
  web/src/components/instances/InstanceForm.tsx
  web/src/hooks/useInstances.ts
  web/src/lib/api.ts
Labels: enhancement, web

#99 fix(web): resolve static asset routing with custom base URL
  internal/web/handler.go
  web/src/components/torrents/TorrentDialogs.tsx
  web/src/components/ui/table.tsx
Labels: web, backend

#100 feat(web): improve login and setup page UI design
  web/src/components/Footer.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/pages/Login.tsx
  web/src/pages/Setup.tsx
Labels: web

#102 feat(api,web): enable bulk actions on all torrents beyond 500 limit
  CLAUDE.md
  internal/api/handlers/torrents.go
  web/src/components/torrents/AddTorrentDialog.tsx
  web/src/components/torrents/TorrentActions.tsx
  web/src/components/torrents/TorrentDialogs.tsx
  web/src/components/torrents/TorrentTableColumns.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/lib/api.ts
  web/src/pages/Torrents.tsx
  web/src/routes/_authenticated/instances.$instanceId.tsx
Labels: enhancement, web, backend

#106 feat(web): improve AddTorrentDialog
  web/src/components/torrents/AddTorrentDialog.tsx
Labels: enhancement, web

#114 fix(web): resolve scroll position reset issues
  web/src/components/torrents/FilterSidebar.tsx
  web/src/components/torrents/TorrentTableOptimized.tsx
  web/src/components/ui/SearchInput.tsx
  web/src/hooks/useTorrentsList.ts
  web/src/lib/incognito.ts
  web/src/types/index.ts
Labels: web

#124 feat(config): add metricsEnabled configuration option
  README.md
  cmd/qui/main.go
  internal/config/config.go
  internal/domain/config.go
Labels: enhancement, metrics

#109 feat(api,web): async instance operations with non-blocking UI
  cmd/qui/main.go
  go.mod
  go.sum
  internal/api/handlers/instances.go
  internal/qbittorrent/client.go
  internal/qbittorrent/pool.go
  internal/qbittorrent/pool_test.go
  web/src/components/instances/InstanceCard.tsx
  web/src/components/instances/InstanceErrorDisplay.tsx
  web/src/components/instances/InstanceForm.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Instances.tsx
Labels: bug, enhancement, web, backend
